@import "../mixin";
@import "../var";

.change-date-section {
  margin: 10rem 0;
  color: $text_color;
  & .change-date-form-control {
    @include form-control;
  }
  & .change-date-btn {
    @include common_btn(100%);
  }
  & h3 {
    font-size: 2.5rem;
  }
  & p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
