@import '../mixin';
@import '../var';

.show-ticket-section{
    margin: 10rem 0;
    color: $text_color;
    & .show-ticket-form-control {
        @include form-control;
      }
    & .show-ticket-btn{
        @include common_btn(100%)
    }
    & h3{
        font-size: 2.5rem;
    }
    & p{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}
