@import "../var";
@import "../mixin";

.growing-section{
    text-align: center;
    margin: 4rem 0;
    & .card-body h2{
        color: red;
    }
    & .card-title{
        color: $text_color;
    }
    & .card-text {
        color: $text_color;
    }
}