@import './var';
@import './mixin';

.help-section{
    margin-top: 5rem;
    padding: 2rem 0;
    height: auto;
    background: $secondary_color;
    & .text-section{
        background: $white_color;
        height: 45rem;
        overflow-y: scroll;
        border-radius: .5rem;
        padding: .5rem;
    }
    & figure{
        img{
            width: 50vw;
            height: 60vh;
        } 
    } 
}